*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: #665a48;
}
nav{
    width: 100%;
    background-color: #665a48;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0;

}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: blue; */

}
nav ul li{
    list-style: none;
    padding: 0px 5px;


}
nav ul li a{
    color: rgb(218, 214, 214);
    font-size: 20px;
    text-decoration: none;
    margin-right: 50px;
    padding: 6px;
}
nav ul li a:hover{
    background-color: rgb(206, 203, 197);
    color: #665a48 ;
    border-radius: 20px;
    
}
.kotak{
    background-color: #c8dbbe;
    width: 73em;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    gap: 10px;
}

.kotak-left{
    display: flex;
    flex-direction: column;
    border-right: 3px solid black;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 10px;
}

#preview-img{
    width: 200px;
}

.judul{
    color: black;
    font-size: 35px;
   padding: 25px 0 0 2em;
}
.isiimg{
    border: 2px solid;
    width: 210px;
    height: 100%;
    margin: 10px 0 5px 57px;
    padding: 10px 18px;
    border-radius: 10px;
}
.garis{
    border-left: 4px solid;
    border-radius: 15px;
    height: 16em;
    /* margin: 2em 0 0 21em; */
}
.inputdatabook{
    margin: -4em 0 0 15em;
    padding-bottom: 10px;
    font-size: 20px;
}
.input{
    background-color: rgb(238, 237, 236) ;
    width: 20em;
    height: 30px;
    border-radius: 5px;
}
.kotak-right{
    font-size: 25px;
}
