
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@600&family=Tiro+Devanagari+Hindi:ital@1&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  Montserrat ;
    
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
body{
    background-color: #665a48;
}
nav{
    width: 100%;
    background-color: #665a48;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0;

}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li{
    list-style: none;
    padding: 0px 5px;


}
nav ul li a{
    color: rgb(218, 214, 214);
    font-size: 20px;
    text-decoration: none;
    margin-right: 50px;
    padding: 6px;
}
nav ul li a:hover{
    background-color: rgb(206, 203, 197);
    color: #665a48 ;
    border-radius: 20px;
    
}
.kotak{
    background-color: #c8dbbe;
    width: 89vw;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    padding-bottom: 15px;
}
.judul{
    color: black;
    font-size: 35px;
   padding: 20px 0 0 25px;
}
.addbook{
    margin-bottom: 25px;
    margin-top: -20px;
   float: right;
   margin-right: 30px;
}
.addbook a{
    text-decoration: none;
    border: #000000 solid 3px;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 60px ;
    text-align: center;
}
.addbook :hover{
    color:#000000;
    background-color: #caa26b;
}
.logout{
    color: rgb(218, 214, 214);
    font-size: 20px;
    margin-right: 50px;
    padding: 6px;
    background-color: #665a48;
    border: none;
}
.logout:hover{
    background-color: rgb(206, 203, 197);
    color: #665a48 ;
    border-radius: 20px;
}

/* @media screen and (max-width: 680vw) {
    body{
        background-color: green;
    }
} */