@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@600&family=Tiro+Devanagari+Hindi:ital@1&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  Montserrat ;   
}
body{
    background-color: #665a48;
}
nav{
    width: 100%;
    background-color: #665a48;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li{
    list-style: none;
    padding: 0px 5px;


}
nav ul li a{
    color: rgb(218, 214, 214);
    font-size: 20px;
    text-decoration: none;
    margin-right: 50px;
    padding: 6px;
}
nav ul li a:hover{
    background-color: rgb(206, 203, 197);
    color: #665a48 ;
    border-radius: 20px;
    
}
.logout{
    color: rgb(218, 214, 214);
    font-size: 20px;
    margin-right: 50px;
    padding: 6px;
    background-color: #665a48;
    border: none;
}
.logout:hover{
    background-color: rgb(206, 203, 197);
    color: #665a48 ;
    border-radius: 20px;
}
.kotak{
    background-color: #c8dbbe;
    width: 89vw;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    padding-bottom: 15px;
}
.logout{
    color: rgb(218, 214, 214);
    font-size: 20px;
    margin-right: 50px;
    padding: 6px;
    background-color: #665a48;
    border: none;
}
.logout:hover{
    background-color: rgb(206, 203, 197);
    color: #665a48 ;
    border-radius: 20px;
}
.add{
    text-align: center;
}
.input{
    text-align: center;
}
.input-borrower{
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px
}
.record-borrower{
    display: inline;
    font-size: 25px;
}
.input-book{
    border-radius: 7px;
    margin-bottom: 10px;
    padding-right: 200px;
    font-size: 18px
}
.record-book{
    display: inline;
    font-size: 25px;
}
.book-add{
    padding-left: 55px;
}
.input-date{
    border-radius: 7px;
    margin-bottom: 10px;
    padding-right: 94px;
    font-size: 18px
}
.record-date{
    display: inline;
    font-size: 25px;
}
.date-record{
    padding-left: 63px;
}
.judultitle{
    margin: 0px auto;
    margin-top: 15px;
    font-size: 24px;
    padding-bottom: 10px;
}
.status{

    display:inline-block;
    justify-content: center;
}
.stat{
    display: inline-block;
    margin: auto;
}
.btn-submit{
    padding: 5px 25px;
    margin-left:950px;
    font-size: 25px;
    border-radius: 25px;
    border: 2px black solid;     
}
.btn-submit:hover{
    color:#000000;
    background-color: #caa26b;
}